.board {
  display: inline-block;
  border: 2px solid #333;
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #999;
  text-align: center;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.cell:nth-child(3),
.cell:nth-child(6) {
  border-right: 2px solid black;
}

.row:nth-child(3) .cell,
.row:nth-child(6) .cell {
  border-bottom: 2px solid black;
}

.cell.selected {
  background-color: #cce5ff;
}

.cell.invalid {
  border: 2px solid red;
}

.cell:focus {
  background-color: #e6f2ff;
}

.hint {
  background-color: #fff3cd !important; /* light yellow */
  border: 2px solid #ff9800 !important; /* orange border */
  animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}